.field-label {
  float: left;
  padding-top: 14px;
  padding-bottom: 4px;
  padding-left: 2px;
  line-height: 1.5;
  font-weight: 200;
  min-width: 265px;
  max-width: 265px;
  font-size: 13px;
}

.field {
  height: 28px;
  padding: 0px 6px 0px 6px;
  font-weight: 200;
  border-radius: 2px;
  min-width: 279px;
  max-width: 279px;
  font-size: 16px;
}

.field-slider {
  height: 18px;
  padding: 0px 6px 0px 6px;
  font-weight: 200;
  border-radius: 2px;
  min-width: 279px;
  max-width: 279px;
}

.field-fixed-width {
  min-width: 279px;
  max-width: 279px;
}

.field-help {
  padding-top: 14px;
  padding-bottom: 4px;
  line-height: 1.5;
  font-weight: 200;
  font-size: 14px;
  cursor: default;
}

a.field-help:hover {
  text-decoration: none;
  color: #727471;;
}

a.field-help {
  text-decoration: none;
  color: #bdbdbd;
}

.section {
  margin-top: 20px;
  margin-bottom: 20px;
  border-left: 0px;
  border-color: grey;
  border-style: dotted;
  border-bottom: 0px;
  border-right-width: 1px;
  border-top: 0px;
  padding-left: 20px;
}

.section-header {
  color: #0074e4;
  font-weight: 600;
  border-bottom: 2px solid #0074e4;
  cursor: pointer;
}

.advanced-header {
  color: #0074e4;
  font-weight: 600;
  cursor: pointer;
  margin-top: 12px;
}

.charts-panel {
  margin: auto;
  margin-bottom: 40px;
  width: 40%;
  //background-color: lightblue;
}

.input-panel {
  width: 316px;
  position: absolute;
  left: -310px;
  margin-right: 30px;
}

.input-margin {
  margin-right: 15px;
}

.input-toggle {
  cursor: pointer;
  height: 0px;
}

.input-toggle-button {
  padding: 6px 8px 6px 4px;
  position: absolute;
  top: 20px;
  width: 0px;
  border-radius: 2px 0px 0px 2px;
  border: 1px;
  border-color: grey;
  border-style: dotted;
  cursor: pointer;
  left: 13px;
  background-color: white;
  border-left-width: 0px;
}

.output-panel {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  min-height: 340px;
  float: right;
  width: auto;
}

.title {
  color: #0074e4;
  font-weight: 800;
  border-bottom: 4px solid #0074e4;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-select {
  no-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.progress-bar-custom {
  font-weight: 600;
  color: #000000;
  font-size: 18px;
  padding-top: 3px;
  color: white;
  float: left;
}

.reset-button {
  margin-left: 150px;  //125 if we add help to advanced text
}

.input-symbol {
  position: relative;
  display: inline-block;
}

.input-symbol:before {
  opacity: 0.5;
  position: absolute;
  top: 4px;
  content: "$";
}

.input-symbol-left {
  left: 5px;
}

.input-symbol-right {
  right: 5px;
}

.input-symbol input {
  padding-left:18px;
}

.input-symbol.dollar:before {
  content: "$";
  font-size: 14px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  .input-symbol-left
}

.input-symbol.percent input {
  padding-right: 22px;
  padding-left: 6px;
}
.input-symbol.percent:before {
  content: "%";
  font-size: 14px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  .input-symbol-right
}

.popover {
  min-width: 220px;
  width: 100%;
  color: #555;
}

.calc {
  background-color: white;
  min-width: 634px;
}

.progress {
  width: 100%;
  height: 25px;
}

#output-area {
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 50px;

  // if the height of the input-panel is greater than the output-area
  // set the min-height of the output area to the height of the input-panel
  min-height: 434px;
}

#introduction {
  font-size: 16px;
  padding: 30px 30px 0px 30px;
}

#summary {
  font-size: 16px;
  width: 85%;
  margin: auto;
  padding: 10px;
  margin-top: 20px;
}

.summary-stat {
  font-size: 18px;
  font-weight: 900;
}

#summary-title {
  font-size: 20px;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 10px;
}

.introduction-hr {
  margin-bottom: 0px;
}

.radio input {
  margin-right: 6px;
}

.radio {
  padding-right: 10px;
}
