<!--
<div calss="title">Single Page All In One Approach</div>
-->
<div style="width: 100%; overflow: hidden;">
    <div class="output-panel">
        <div class="charts-panel">
            <div class="field-label">Select A Benefit Computation</div>
            <select class="animated fadeIn form-control field" id="caclMode" ng-model="modeSelected" ng-options="mode.value for mode in modes" required=""></select>
            <div class="animated fadeInUp" ng-show="modeSelected.key == 'db' || modeSelected.key =='reduction'">
                <div class="field-label">Specify Retirement Pension as % of Final Salary(s)</div>
                <input id="defined-contribution" ng-model="definedContributionPercent" class="form-control field">
            </div>
            <div ng-show="modeSelected.key == 'dc' || modeSelected.key =='reduction'">
                <div class="field-label animated fadeInDown">Specify 401k Contribution as % of Payroll</div>
                <input id="defined-benefit"  ng-model="definedBenefitPercent" class="form-control field animated fadeInDown">
            </div>
        </div>

        <div class="animated fadeInUp" ng-show="isInputsValid()">
            <div style="margin: auto;width: 40%;">
                <div ng-show="modeSelected.key == 'db' || modeSelected.key == 'reduction'">
                    <div class="field-label" style="max-width: 100px;">401k</div>
                    <div class="progress field-fixed-width">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                            60%
                        </div>
                    </div>
                </div>
                <div ng-show="modeSelected.key == 'dc' || modeSelected.key == 'reduction'">
                    <div class="field-label" style="max-width: 100px;">Pension</div>
                    <div class="progress field-fixed-width">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 39%;">
                            39%
                        </div>
                    </div>
                </div>
                <div ng-show="modeSelected.key == 'reduction'">
                    <div class="field-label" style="max-width: 100px;">Difference</div>
                    <div class="progress field-fixed-width">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 21%;">
                            21%
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="input-toggle animated fadeInRight" ng-click="toggleInput()">
        <label class="input-toggle-button">
            <i class="fa" ng-class="{'fa-angle-left': !showInput, 'fa-angle-right': showInput}"></i>
        </label>
    </div>
    <div class="input-panel animated fadeInRight" ng-show="showInput">
        <div class="section">

            <div>
                <div class="field-label">Age at Hire</div>
                <input ng-model="ageAtHire" id="age-at-hire" class="form-control field" >
            </div>
            <div>
                <div class="field-label">Age at Retirement</div>
                <input ng-model="ageAtRetire" id="age-at-retirement" class="form-control field" >
            </div>
            <div>
                <div class="field-label">Annual Wage at Hire</div>
                <input ng-model="wageAtHire" id="annual-wage-at-hire" class="form-control field" >
            </div>
            <div>
                <div class="field-label">Annual Wage at Retirement</div>
                <input ng-model="wageAtRetire" id="annual-wage-at-retirement" class="form-control field" >
            </div>

            <div class="animated fadeInRight" ng-show="showAssumptions">
                <div>
                    <div class="field-label">Years of Which Final Average Salary Based</div>
                    <input ng-model="finalSalaryYears" id="years-of-which-final-average-salary-based" class="form-control field" >
                </div>
                <div>
                    <div class="field-label">Retiree Cost of Living Adjustment (COLA)</div>
                    <input ng-model="COLAAdjustment" id="retiree-cost-of-living-adjustment" class="form-control field" >
                </div>
                <div>
                    <div class="field-label">401k Investment Return</div>
                    <input id="401k-investment-return" class="form-control field" value="0.06">
                </div>
                <div>
                    <div class="field-label">Annuity Interest Rate</div>
                    <input id="annuity-interest-rate" class="form-control field" value="0.04">
                </div>
            </div>
            <div class="advanced-header no-select" ng-click="showAssumptions = !showAssumptions" tooltip="{{showAssumptions?'Show ':'Hide '}} assumptions.">
                <span>Advanced &nbsp;</span>
                <i class="fa" ng-class="{'fa-angle-down': !showAssumptions, 'fa-angle-up': showAssumptions}"></i>
            </div>
        </div>
    </div>

</div>