<div class="section">
    <div id="input-collapse-toggle" class="section-header collapse-toggle">Input</div>
    <div>
        <div class="field-label">Age at Hire</div>
        <input id="age-at-hire" class="form-control" value="25">
    </div>
    <div>
        <div class="field-label">Age at Retirement</div>
        <input id="age-at-retirement" class="form-control" value="55">
    </div>
    <div>
        <div class="field-label">Annual Wage at Hire</div>
        <input id="annual-wage-at-hire" class="form-control" value="20,000">
    </div>
    <div>
        <div class="field-label">Annual Wage at Retirement</div>
        <input id="annual-wage-at-retirement" class="form-control" value="62,374">
    </div>
    <div>
        <div class="field-label">Years of Which Final Average Salary Based</div>
        <input id="years-of-which-final-average-salary-based" class="form-control" value="3">
    </div>
    <div>
        <div class="field-label">Retiree Cost of Living Adjustment (COLA)</div>
        <input id="retiree-cost-of-living-adjustment" class="form-control" value="2">
    </div>
    <div>
        <div class="field-label">Defied Contribution (% of payroll)</div>
        <input id="defied-contribution" class="form-control" value="33.62">
    </div>
</div>

<div class="section">
    <div id="assumptions-collapse-toggle" class="section-header collapse-toggle" href="#">Assumptions</div>
    <div>
        <div class="field-label">401k Investment Return</div>
        <input id="401k-investment-return" class="form-control" value="0.06">
    </div>
    <div>
        <div class="field-label">Annuity Interest Rate</div>
        <input id="annuity-interest-rate" class="form-control" value="0.04">
    </div>
</div>

<div class="section">
    <div id="output-collapse-toggle" class="section-header collapse-toggle" href="#">Output</div>
    <div>
        <div class="field-label">Life Only</div>
        <input id="life-only" class="form-control">
    </div>
    <div>
        <div class="field-label">Joint & 50% Survivor</div>
        <input id="join-and-50pct-survivor" class="form-control">
    </div>
    <div>
        <div class="field-label">Joint & 100% Survivor</div>
        <input id="join-and-100pct-survivor" class="form-control">
    </div>
</div>

<div class="section">
    <div id="debug-collapse-toggle" class="section-header collapse-toggle" href="#">Temporary Debug Section</div>
    <div>
        <div class="field-label">X Value</div>
        <input id="x-value" class="form-control">
    </div>
    <div>
        <div class="field-label">Y Value</div>
        <input id="y-value" class="form-control">
    </div>
    <div>
        <div class="field-label">Z Value</div>
        <input id="z-value" class="form-control">
    </div>
    <div>
        <div class="field-label">Final Value</div>
        <input id="final-value" class="form-control">
    </div>
</div>

