<div class="contentHeader font-scale clearfix">
    Pension Calculator
</div>
<div id="introduction">
    Pensions are increasingly under fire. These calculators show just how big of a benefit cut it is to switch from a defined benefit pension plan to a 401k defined contribution plan.
    <hr class="introduction-hr"/>
</div>
<div id="output-area" style="overflow: hidden; min-width: 400px" class="clearfix">
    <div class="output-panel">
        <div class="charts-panel field-fixed-width">
            <div class="field-label">Select A Benefit Computation</div>
            <a role="button" class="fa fa-question-circle field-help" data-trigger="click hover focus manual" data-toggle="popover" data-html="true" data-placement="bottom" data-content=
               "<strong>Pension to 401k Equivalent</strong><br/>
                Specify a pension percentage and compute the 401k contribution that would result in the equivalent amount.<br/><br/>
                <strong>401k to pension equivalent</strong><br/>
                Specify a 401k contribution and compute how much pension it will add up to.<br/><br/>
                <strong>Pension vs 401k</strong><br/>
                Compare a pension percentage to a 401k contribution to compute the difference in benefits. Pensions are increasingly under fire from cities and municipalities. Some local members may not fully realize the magnitude of a benefit cut when switching from a pension defined benefit plan to a 401k defined contribution plan. The purpose of this calculator is to tell you how much your retirement income would be cut by switching from a pension plan to a 401(k) plan."></a>
            <select class="animated fadeIn form-control field" id="calcMode" ng-model="modeSelected" ng-options="mode.value for mode in modes" required=""></select>
            <div class="animated fadeInUp" ng-show="modeSelected.key == 'db' || modeSelected.key =='reduction'">
                <div class="field-label">Input Pension Multiplier</div>
                <a role="button" class="fa fa-question-circle field-help" data-trigger="click hover focus manual" data-toggle="popover" data-placement="left" data-content="Specify pension at retirement as percent of final salary. Your income replacement is determined by your pension formula which is defined in your pension SPD.  (e.g. retiree with a 2.5% multiplier and 30 years service receives a 75% income replacement.)"></a>
                <div class="input-symbol percent">
                    <input  id="defined-contribution" type="text" ng-model="definedContributionPercent" class="number-only-input form-control field" min="0" max="100">
                </div>
            </div>
            <div ng-show="modeSelected.key == 'dc' || modeSelected.key =='reduction'">
                <div class="animated fadeInUp">
                    <div class="field-label">Specify 401k Contribution</div>
                    <a role="button" class="fa fa-question-circle field-help" data-trigger="click hover focus manual" data-toggle="popover" data-placement="left" data-content="Specify 401k contribution made by individual as percent of their payroll. If you want to see your income replacement based purely on city contributions, then only enter that amount. If you want to see your total income replace, include city and employee defined contributions.)"></a>
                    <div class="input-symbol percent">
                        <input id="defined-benefit" type="text"  ng-model="definedBenefitPercent" class="number-only-input form-control field" min="0" max="100">
                    </div>
                </div>
            </div>
            <div class="animated fadeInUp" style="margin-top: 40px" ng-show="isInputsValid()">
                <div ng-show="modeSelected.key == 'db'">
                    <div class="field-label">Required 401k Contribution %</div>
                    <a role="button" class="fa fa-question-circle field-help" data-trigger="click hover focus manual" data-toggle="popover" data-placement="left" data-content="Amount of 401k contribution required to meet the specified pension."></a>
                    <div class="progress">
                        <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="{{(dbLifeOnly / dbLifeCap) * 100}}" aria-valuemin="0" aria-valuemax="{{dbLifeCap}}" ng-attr-style="width: {{(dbLifeOnly / dbLifeCap) * 100}}%;">
                            {{dbLifeOnly | number:2}}%
                        </div>
                    </div>
                    <div class="field-label  animated fadeInDown" ng-show="_survivor > 0">Required 401k Contribution w/ Survivor %</div>
                    <a role="button" class="fa fa-question-circle field-help" ng-show="_survivor > 0" data-trigger="click hover focus manual" data-toggle="popover" data-placement="left" data-content="Amount of 401k contribution required to meet the specified pension for the individual and his spouse at the percent specified in Advanced settings under 'Survivor %'."></a>
                    <div class="progress animated fadeInDown" ng-show="_survivor > 0">
                        <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuemin="0" aria-valuemax="{{dbJointCap}}" ng-attr-style="width: {{(dbJointOutput / dbJointCap) * 100}}%;">
                        {{dbJointOutput | number:2}}%
                        </div>
                    </div>
                </div>
                <div ng-show="modeSelected.key == 'dc'">
                    <div class="field-label">Pension Income Replacement</div>
                    <a role="button" class="fa fa-question-circle field-help" data-trigger="click hover focus manual" data-toggle="popover" data-placement="left" data-content="Amount of pension the 401k contribution adds up to."></a>
                    <div class="progress">
                        <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuemin="0" aria-valuemax="{{lifeCap}}" ng-attr-style="width: {{(lifeOnly /  lifeCap) * 100}}%;">
                        {{lifeOnly | number:2}}%
                        </div>
                    </div>
                    <div class="field-label  animated fadeInDown" ng-show="_survivor > 0">Pension Income Replacement w/ Survivor</div>
                    <a role="button" class="fa fa-question-circle field-help" ng-show="_survivor > 0" data-trigger="click hover focus manual" data-toggle="popover" data-placement="left" data-content="Amount of pension the 401k contribution adds up to for the individual and his spouse at the percent specified in Advanced settings under 'Survivor %'."></a>
                    <div class="progress animated fadeInDown" ng-show="_survivor > 0">
                        <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuemin="0" aria-valuemax="{{jointCap}}" ng-attr-style="width: {{(jointOutput / jointCap) * 100}}%;">
                        {{jointOutput | number:2}}%
                        </div>
                    </div>
                </div>
                <div ng-show="modeSelected.key == 'reduction'">
                    <div class="field-label">{{benefitSpan}}</div>
                    <a role="button" class="fa fa-question-circle field-help" data-trigger="click hover focus manual" data-toggle="popover" data-placement="left" data-content="The amount of benefit gain (or loss) between lifetime income with proposed 401k contributions vs the current pension benefit"></a>
                    <div class="progress">
                        <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuemin="0" aria-valuemax="{{reductionCap}}" ng-style="barStyle">
                            {{reductionOutput | absolute | number:2}}%
                        </div>
                    </div>
                    <div class="field-label  animated fadeInDown" ng-show="_survivor > 0">{{benefitSpanJoint}}</div>
                    <a role="button" class="fa fa-question-circle field-help" ng-show="_survivor > 0" data-trigger="click hover focus manual" data-placement="left" data-toggle="popover" data-content="The amount of benefit gain (or loss) between lifetime income with proposed 401k contributions vs the current pension benefit taking into account the 'Survivor %' under Advanced settings."></a>
                    <div class="progress animated fadeInDown" ng-show="_survivor > 0">
                        <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuemin="0" aria-valuemax="{{reductionJointCap}}" ng-style="jointStyle">
                        {{reductionJointOutput | absolute | number:2}}%
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="input-panel pull-left">
        <div id="input-panel-content" class="section">
            <div>
                <div class="field-fixed-width">
                    <div class="field-label">Age at Hire.</div>
                    <a role="button" class="fa fa-question-circle field-help" data-trigger="click hover focus manual" data-toggle="popover" data-placement="right" data-content="Age of individual when hired. Must be whole number and 18 or higher."></a>
                </div>
                <input ng-model="ageAtHire" type="text" id="age-at-hire" class="form-control field" ui-number-mask="0" min="16" max="100">
            </div>
            <div>
                <div class="field-fixed-width">
                    <div class="field-label">Age at Retirement</div>
                    <a role="button" class="fa fa-question-circle field-help" data-trigger="click hover focus manual" data-toggle="popover" data-placement="right" data-content="Age of individual at retirement. Must be whole number, greater than age at hire, and less than or equal to 65."></a>
                </div>
                <input ng-model="ageAtRetire" type="text" id="age-at-retirement" class="form-control field" ui-number-mask="0" min="16" max="65">
            </div>
            <div>
                <div class="field-fixed-width">
                    <div class="field-label">Annual Wage at Hire</div>
                    <a role="button" class="fa fa-question-circle field-help" data-trigger="click hover focus manual" data-toggle="popover" data-placement="right" data-content="Salary of individual at hire"></a>
                </div>
                <div class="input-symbol dollar">
                    <input ng-model="wageAtHire" type="text"  id="annual-wage-at-hire" class="number-only-input form-control field" min="16" max="10000000">
                </div>
            </div>
            <div>
                <div class="field-fixed-width">
                    <div class="field-label">Annual Wage at Retirement</div>
                    <a role="button" class="fa fa-question-circle field-help" data-trigger="click hover focus manual" data-toggle="popover" data-placement="right" data-content="Salary of individual at retirement. Must be higher than wage at hire."></a>
                </div>
                <div class="input-symbol dollar">
                    <input ng-model="wageAtRetire" type="text" id="annual-wage-at-retirement" class="number-only-input form-control field" min="16" max="10000000">
                </div>
            </div>

            <div class="field-fixed-width">
                <div class="field-label">Retiree Cost of Living Adjustment (COLA)</div>
                <a role="button" class="fa fa-question-circle field-help" data-trigger="click hover focus manual" data-toggle="popover" data-placement="right" data-content="You can find your COLA definition in your pension SPD. If your COLA fluctuates year-to-year, make your best estimate as to what is typical."></a>
                <div class="input-symbol percent">
                    <input ng-model="COLAAdjustment" type="text" id="retiree-cost-of-living-adjustment" class="number-only-input form-control field" ng-model-options="{ getterSetter: true }" min="0" max="10">
                </div>
                <input class="field-slider" type="range" max="10" step=".1" ng-model="COLAAdjustment" ng-model-options="{ getterSetter: true }">
            </div>

            <div class="animated fadeInLeft" ng-show="showAssumptions">
                <div class="field-fixed-width">
                    <div class="field-label">Years of Which Final Average Salary Based</div>
                    <a role="button" class="fa fa-question-circle field-help" data-trigger="click hover focus manual" data-toggle="popover" data-placement="right" data-content='If your final average salary is highest three years out of last ten years, the answer would still be "3." You can find your years of final average salary in your pension summary plan document. Must be whole number.'></a>
                    <input ng-model="finalSalaryYears" type="text" id="years-of-which-final-average-salary-based" class="form-control field" ui-number-mask="0" min="0" max="100">
                </div>
                <div class="field-fixed-width">
                    <div class="field-label">401k Investment Return %</div>
                    <a role="button" class="fa fa-question-circle field-help" data-trigger="click hover focus manual" data-toggle="popover" data-placement="right" data-content="Percent of return on 401k investments."></a>
                    <div class="input-symbol percent">
                        <input id="401k-investment-return" type="text" class="number-only-input form-control field" ng-model="investReturn" min="0" max="1000">
                    </div>
                </div>
                <div class="field-fixed-width">
                    <div class="field-label">Annuity Interest Rate %</div>
                    <a role="button" class="fa fa-question-circle field-help" data-trigger="click hover focus manual" data-toggle="popover" data-placement="right" data-content="Annuity interest rate."></a>
                    <div class="input-symbol percent">
                        <input id="annuity-interest-rate" type="text" class="number-only-input form-control field" ng-model="interestRate" min="0" max="1000">
                    </div>
                </div>
                <div class="field-fixed-width">
                    <div class="field-label">Wage Increase %</div>
                    <a role="button" class="fa fa-question-circle field-help" data-trigger="click hover focus manual" data-toggle="popover" data-placement="right" data-content="This is computed from the salaries and age at hire/retirement entered."></a>
                    <div class="input-symbol percent">
                        <input ng-disabled="true" id="wage-increase" class="form-control field" value="{{ wageIncrease*100|number: 2|removeCharacters: '.00' }}" min="0" max="1000">
                    </div>
                </div>
                <div class="field-fixed-width">
                    <div class="field-label">Survivor %</div>
                    <a role="button" class="fa fa-question-circle field-help" data-trigger="click hover focus manual" data-toggle="popover" data-placement="right" data-content="Percent of the survivor/spouse should be covered. When 100%, the investments will cover the individual and another person. To only compute retirement for one person, 'Survivor %' should be set to 0."></a>
                    <div class="input-symbol percent">
                        <input id="survivor-input-dc" type="text" class="number-only-input form-control field" ng-model="survivor" ng-model-options="{ getterSetter: true }" max="1000">
                    </div>
                    <input id="survivor-slider-dc" class="field-slider" type="range" max="100" ng-model="survivor" step=".1" ng-model-options="{ getterSetter: true }">
                </div>
                <div class="field-fixed-width">
                    <div class="field-label">Sex</div>
                    <a role="button" class="fa fa-question-circle field-help" data-trigger="click hover focus manual" data-toggle="popover" data-placement="right" data-content="Is the individual male or female. Different mortality rates are be used to compute the results."></a>
                    <select class="animated fadeIn form-control field"  id="sex-selection" ng-model="sex" ng-options="sex for sex in sexOptions"></select>
                </div>
            </div>
            <div  class="field-fixed-width no-select">
                <span class="advanced-header" ng-click="showAssumptions = !showAssumptions; setAssumptionsHeight()">
                    <i class="fa" ng-class="{'fa-angle-down': !showAssumptions, 'fa-angle-up': showAssumptions}"></i>
                    <span>Advanced</span>
                    <!--
                    when text to simple, margin needs to adjust to keep reset on the right. fix this.
                    <span>{{showAssumptions? 'Simple':'Advanced'}}</span>
                    <a role="button" class="fa fa-question-circle field-help" data-trigger="click hover focus manual" data-toggle="popover" data-content="Show/hide additional fields"></a>
                    -->
                </span>
                <span class="reset-button advanced-header">
                    <span ng-click="setDefaults(true)">Reset</span>
                </span>
                <a role="button" class="fa fa-question-circle field-help" data-trigger="click hover focus manual" data-toggle="popover" data-placement="right" data-content="Reset all data in this panel to default values."></a>
            </div>
        </div>
    </div>
    <div class="input-toggle" ng-click="toggleInputByUser()">
        <label class="input-toggle-button">
            <i class="fa" ng-class="{'fa-angle-left': showInput, 'fa-angle-right': !showInput}"></i>
        </label>
    </div>
</div>
